@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Bold.woff2') format('woff2'),
        url('Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Regular.woff2') format('woff2'),
        url('Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Medium.woff2') format('woff2'),
        url('Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Gilroy';
    text-rendering: unset;
    -webkit-font-smoothing: unset;
}

// Footer theming
.footer {
    position: relative;
    z-index: 10;
    background-color: $black;
    color: $white;

    a {
        color: white;

        &:hover {
            color: $orange;
        }
    }

    li {
        list-style: none;
    }

    .footer-navigation {
        padding-top: 75px;
        display: flex;
        justify-content: space-between;

        @media (max-width: $mobile-breakpoint) {
            flex-direction: column;
            padding: 50px 30px 0px 17px;
        }
    }

    .footer-wrapper {
        padding-right: 15px;
        padding-left: 15px;

        @media (max-width: $mobile-breakpoint) {
            padding: 0;
        }
    }

    h2 {
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        margin: 0;
        margin-bottom: 40px;
        display: block;

        @media (max-width: $mobile-breakpoint) {
            margin-bottom: 30px;
            font-size: 24px;
            line-height: 30px;
        }
    }

    .footer-secondary {
        padding-top: 51px;
        padding-bottom: 45px;
        border-top: solid 1px $gray;
        line-height: 19px;

        @media (max-width: $mobile-breakpoint) {
            padding-top: 19px;
            padding-bottom: 3px;
            flex-direction: column;
            align-items: center;

            p,
            ul {
                font-size: 10px;
                line-height: 12px;
                margin-bottom: 10px !important;
                padding: 0;
            }
        }

        p,
        ul {
            margin: 0;
        }
    }

    .active .menu-items {
        @media (max-width: $mobile-breakpoint) {
            max-height: 500px;
        }
    }

    .menu-items {
        padding-left: 0;

        @media (max-width: $mobile-breakpoint) {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-in-out;
        }

        &:nth-child(2) {
            max-width: 224px;
        }
    }

    .menu-item {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;

            @media (max-width: $mobile-breakpoint) {
                margin-bottom: 30px;
            }
        }
    }

    .menu-item,
    .contact-block {
        a {
            font-size: 20px;
            line-height: 24px;

            @media (max-width: $mobile-breakpoint) {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    .footer-menu {
        padding-left: 0;
        margin: 0;
        display: flex;

        @media (max-width: $mobile-breakpoint) {
            flex-direction: column;
        }
    }

    .menu-items-wrapper {
        flex: 1;
    }

    .menu-wrapper {
        flex: 1;
    }

    .menu-icons-wrapper {
        @media (max-width: $mobile-breakpoint) {
            display: flex;
            justify-content: space-between;
        }

        svg {
            display: none;

            @media (max-width: $mobile-breakpoint) {
                display: block;
            }
        }
    }

    .plus {
        display: block;
    }

    .minus {
        display: none;
    }

    .social-block {
        ul {
            display: flex;
            justify-content: flex-end;
            margin-top: 49px;
            margin-bottom: 51px;

            @media (max-width: $mobile-breakpoint) {
                justify-content: center;
                margin-bottom: 10px;
                margin-top: 0;
                padding: 0;
            }

            li:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    .contact-mail,
    .jobs-mail {
        @media (max-width: $mobile-breakpoint) {
            display: none;
        }
    }

    .join-us {
        .menu-item {
            @media (max-width: $mobile-breakpoint) {
                display: none;
            }
        }

        &.active {
            .menu-item {
                display: block;
            }
        }
    }

    .active {
        @media (max-width: $mobile-breakpoint) {
            .plus {
                display: none;
            }

            .minus {
                display: block;
            }

            .contact-mail,
            .jobs-mail {
                display: block;
                margin-bottom: 30px;
            }

            h2 {
                margin-bottom: 9px;
            }

            .menu-items {
                display: block;
            }

            .menu-item {
                margin-bottom: 20px;
            }
        }
    }
}

// Main body theming
.book-page {
    a {
        color: $orange;

        &:visited {
            color: $orange;
        }

        &:hover {
            text-decoration: none;
        }
    }

    li {
        a {
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
        }

        &::marker {
            color: $orange;
        }
    }

    .markdown {
        h1 {
            font-size: 50px;
            font-weight: bold;
            line-height: 62px;
            margin-bottom: 10px;

            @media (max-width: $mobile-breakpoint) {
                font-size: 32px;
                line-height: 40px;
            }
        }

        p,
        dl {
            font-size: 18px;
            line-height: 28px;

            @media (max-width: $mobile-breakpoint) {
                line-height: 26px;
            }
        }
    }

    h2,
    h3 {
        font-size: 24px;
        line-height: 28px;
        margin-top: 0;
        font-weight: bold;
        padding-top: 30px;
        margin-bottom: 0;

        @media (max-width: $mobile-breakpoint) {
            padding-top: 0;
        }
    }

    h3 {
        margin-bottom: 20px;

        @media (max-width: $mobile-breakpoint) {
            margin-top: 20px;
        }
    }

    h4 {
        font-size: 20px;
    }

    blockquote {
        border-left: 5px solid $orange;
        border-radius: 0;
        padding-left: 30px;

        p {
            font-size: 20px !important;
        }
    }
}


// Aside theming
.book-menu {
    .book-menu-content {
        position: static;
        border-left: 1px solid rgba(66, 66, 66, 0.3);
        padding: 55px 31px 29px 29px;
        min-width: 360px;

        &::-webkit-scrollbar {
            width: 20px;
            background-color: $white-smoke;
            height: 100px;
        }
       
        &::-webkit-scrollbar-thumb {
            background: $silver; 
        }
    }

    .book-brand {
        font-size: 22px;
        font-weight: 500;
        line-height: 27px;
        // padding-left: 29px;
    }

    a {
        font-size: 20px;
        line-height: 30px;
        color: $dark-gray;
        margin-bottom: 32px;

        &.active {
            color: $orange;
            font-size: 22px;
            line-height: 27px;
            font-weight: 700;
            border-left: 5px solid $orange;
            margin-left: -30px;
            padding-left: 29px;
        }
    }

    li {
        margin: 0;
    }

}
