@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Bold.woff2') format('woff2'),
    url('Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.woff2') format('woff2'),
    url('Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Medium.woff2') format('woff2'),
    url('Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Gilroy';
  text-rendering: unset;
  -webkit-font-smoothing: unset;
}

// Footer theming
.footer {
  position: relative;
  z-index: 10;
  background-color: $black;
  color: $white;

  a {
    color: white;

    &:hover {
      color: $orange;
    }
  }

  li {
    list-style: none;
  }

  .footer-navigation {
    padding-top: 75px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile-breakpoint) {
      flex-direction: column;
      padding: 50px 30px 0px 17px;
    }
  }

  .footer-wrapper {
    padding-right: 15px;
    padding-left: 15px;

    @media (max-width: $mobile-breakpoint) {
      padding: 0;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    margin: 0;
    margin-bottom: 40px;
    display: block;

    @media (max-width: $mobile-breakpoint) {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  .footer-secondary {
    padding-top: 51px;
    padding-bottom: 45px;
    border-top: solid 1px $gray;
    line-height: 19px;

    @media (max-width: $mobile-breakpoint) {
      padding-top: 19px;
      padding-bottom: 3px;
      flex-direction: column;
      align-items: center;

      p,
      ul {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 10px !important;
        padding: 0;
      }
    }

    p,
    ul {
      margin: 0;
    }
  }

  .active .menu-items {
    @media (max-width: $mobile-breakpoint) {
      max-height: 500px;
    }
  }

  .menu-items {
    padding-left: 0;

    @media (max-width: $mobile-breakpoint) {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-in-out;
    }

    &:nth-child(2) {
      max-width: 224px;
    }
  }

  .menu-item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;

      @media (max-width: $mobile-breakpoint) {
        margin-bottom: 30px;
      }
    }
  }

  .menu-item,
  .contact-block {
    a {
      font-size: 20px;
      line-height: 24px;

      @media (max-width: $mobile-breakpoint) {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  .footer-menu {
    padding-left: 0;
    margin: 0;
    display: flex;

    @media (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
  }

  .menu-items-wrapper {
    flex: 1;
  }

  .menu-wrapper {
    flex: 1;
  }

  .menu-icons-wrapper {
    @media (max-width: $mobile-breakpoint) {
      display: flex;
      justify-content: space-between;
    }

    svg {
      display: none;

      @media (max-width: $mobile-breakpoint) {
        display: block;
      }
    }
  }

  .plus {
    display: block;
  }

  .minus {
    display: none;
  }

  .social-block {
    ul {
      display: flex;
      justify-content: flex-end;
      margin-top: 49px;
      margin-bottom: 51px;

      @media (max-width: $mobile-breakpoint) {
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 0;
        padding: 0;
      }

      li:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .contact-mail,
  .jobs-mail {
    @media (max-width: $mobile-breakpoint) {
      display: none;
    }
  }

  .join-us {
    .menu-item {
      @media (max-width: $mobile-breakpoint) {
        display: none;
      }
    }

    &.active {
      .menu-item {
        display: block;
      }
    }
  }

  .active {
    @media (max-width: $mobile-breakpoint) {
      .plus {
        display: none;
      }

      .minus {
        display: block;
      }

      .contact-mail,
      .jobs-mail {
        display: block;
        margin-bottom: 30px;
      }

      h2 {
        margin-bottom: 9px;
      }

      .menu-items {
        display: block;
      }

      .menu-item {
        margin-bottom: 20px;
      }
    }
  }
}

// Main body theming
.book-page {
  @media (max-width: $mobile-breakpoint) {
    min-width: unset;
  }

  a {
    color: $orange;

    &:visited {
      color: $orange;
    }

    &:hover {
      text-decoration: none;
    }
  }

  li {
    a {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 500;
    }

    &::marker {
      color: $orange;
    }
  }

  .markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;

      .anchor {
        position: absolute;
      }
    }

    h1 {
      font-size: 50px;
      font-weight: bold;
      line-height: 62px;
      margin-bottom: 10px;

      @media (max-width: $mobile-breakpoint) {
        font-size: 32px;
        line-height: 40px;
      }
    }

    li {
      margin-bottom: 10px;
    }

    p,
    dl {
      font-size: 18px;
      line-height: 28px;

      @media (max-width: $mobile-breakpoint) {
        line-height: 26px;
      }
    }
  }

  h2,
  h3 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
    font-weight: bold;
    padding-top: 30px;
    margin-bottom: 0;

    @media (max-width: $mobile-breakpoint) {
      padding-top: 0;
    }
  }

  h3 {
    margin-bottom: 20px;

    @media (max-width: $mobile-breakpoint) {
      margin-top: 20px;
    }
  }

  h4 {
    font-size: 20px;
  }

  blockquote {
    border-left: 5px solid $orange;
    border-radius: 0;
    padding-left: 30px;

    p {
      font-size: 20px !important;
    }
  }
}

// Aside theming
.book-menu {
  margin-right: 0;

  @media (min-width: $desktop-breakpoint) {
    margin-right: 120px;
  }

  .book-menu-content {
    position: static;
    padding: 55px 31px 29px 16px;
    min-width: 360px;
    overflow: unset;

    @media (max-width: $mobile-breakpoint) {
      min-width: auto;
    }
  }

  .book-brand {
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    // padding-left: 29px;
  }

  a {
    font-size: 16px;
    line-height: 30px;
    color: $dark-gray;
    margin-bottom: 10px;

    &.active {
      color: $orange;
      font-size: 18px;
      line-height: 27px;
      font-weight: 700;
      position: relative;

      &:before {
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0;
        width: 3px;
        height: 100%;
        background: $orange;
      }
    }
  }

  li {
    margin: 0;
  }
}

.book-toc {
  display: none;
  @media (min-width: $desktop-breakpoint) {
    // display: block;
  }
}

body:has(#menu-control:checked) {
  overflow: hidden;
}

#menu-control ~ main .book-menu .book-menu-content {
  @media (max-width: $mobile-breakpoint) {
    height: 100%;
    background-color: $black;
    color: $white;
    position: relative;

    a {
      color: $white;

      &.active {
        color: $orange;
      }
    }

    input {
      background: transparent;
      border: 1px solid rgba($white, 0.8);
      color: $white;

      &::placeholder {
        color: rgba($white, 0.6);
      }
    }

    label a {
      padding-right: 1rem;
    }
  }
}

#menu-control:checked ~ main .book-menu .book-menu-content {
  @media (max-width: $mobile-breakpoint) {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    padding-bottom: 100px;
  }
}

.menu-close svg {
  width: 20px;
  height: 20px;
  outline: none;
  position: absolute;
  right: 30px;
  top: 30px;
}

.book-footer {
  margin-top: 5rem;
}

// Banner
.banner {
  display: none;
  background-image: url('./banner.jpg');
  width: 100%;
  height: 400px;

  @media (min-width: $tablet-breakpoint) {
    display: block;
  }
}

.desktop-banner .banner {
  @media (min-width: $tablet-breakpoint) {
    display: none;
  }
  @media (max-width: $mobile-breakpoint) {
    display: block;
    margin-left: -16px;
    width: calc(100% + 32px);
    margin-bottom: 3rem;
    height: 200px;
    background-size: contain;

    .banner__text {
      padding-left: 0;
      text-align: center;
      width: auto;
      top: 40px;
    }

    h1 {
      font-size: 54px;
    }
  }
}

.banner__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.banner__text h1 {
  background-color: white;
  font-size: 64px;
  display: inline;
  font-weight: bold;
}

.banner__text span {
  color: #fc4c02;
}

.banner__text {
  position: relative;
  width: 50%;
  padding-left: 82px;
  height: 400px;
  top: 80px;
  line-height: 1;
}

.banner img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.book-header {
  margin-bottom: 20px;

  img.book-icon {
    all: unset;
  }
}
// Desktop Header
.header {
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}
.header__container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 16px;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo span {
  font-size: 24px;
}
.header__logo-text {
  padding-top: 20px;
}
.header__seperator {
  height: 40px;
  width: 1px;
  margin-top: 10px;
  background-color: black;
  display: inline-block;
  margin: 18px 20px 0;
}

/*--------- Search Boxcontent------ */
.content {
  width: 277px;
  margin-left: auto;
  position: relative;
}

.header__search {
  display: flex;
  align-items: center;
}

// Hire Us Button

.header__hire-btn {
  border-radius: 2px;
  cursor: pointer;
  width: 100% !important;
  max-width: 150px;
  display: block;
  text-decoration: none;
  transition: background 0.5s;
  background: #fc4c02;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 19px 18px 15px;
  position: relative;
  border: 1px solid #fc4c02;
  background-color: #fc4c02;
  border-color: #c93100;
  color: #fff;
  text-align: center;
  line-height: 1;
}

.header__hire-btn:after {
  content: '';
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #000;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: -1;
  transition: 0.5s ease all;
}

.header__hire-btn:hover {
  background: #fff;
  color: #fc4c02;
  border-color: rgba(201, 49, 0, 1);
}

.header__hire-btn:hover:after {
  left: -1px;
  top: -1px;
}
#book-search-input {
  height: 47px;
  line-height: 47px;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;

  &:focus {
    outline: none;
  }
}

// Search Results
#book-search-results {
  position: absolute;
  background: $black;
  z-index: 1;
  padding-left: 0;
  list-style: none;
  padding: 0.5rem;
  top: 100%;
  border: 1px solid;
  border-top: 0;
  top: calc(100% - 8px);
  left: 0;
  right: 0;
  border-radius: 0 0 10px 10px;

  @media (min-width: $tablet-breakpoint) {
    background: white;
  }

  &:empty {
    display: none;
  }
}
