@import 'variables';

// ADR theming
.adr-list {
  .adr-card {
    border: 1px solid $white-smoke;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $white;

    > h2 {
      font-size: 1em;
      margin: 10px 0;
      padding: 0;
    }

    .adr-meta {
      font-size: 0.9em;
      color: $dark-gray;

      span {
        margin-top: 2px;
      }

      .adr-date {
        display: flex;
        gap: 10px;
      }

      .adr-status {
        padding: 5px 10px;
        font-size: 0.9em;
        margin-bottom: 10px;
        float: right;
        border-radius: 30px;
        color: $white;

        &.status-accepted {
          background-color: $green; /* Green */
        }

        &.status-proposed {
          background-color: $blue; /* Blue */
        }

        &.status-declined {
          background-color: $red; /* Red */
        }

        &.status-deprecated {
          background-color: $gray;
        }
      }
    }

    .adr-section {
      margin-bottom: 15px;

      p {
        margin: 0;
        font-size: 0.8em;
        line-height: 1.2;
      }
    }
  }

  a,
  a:visited {
    color: $black;
  }

  /* Styling for the filter buttons */
  .adr-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filter-section,
    .sort-section {
      .filter-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        padding: 0;

        .filter-item {
          margin: 0;
        }
      }

      .sort-list,
      .status-filter-list {
        list-style: none;
        border: 1px solid $white-smoke;
        position: absolute;
        background-color: $white;
        border-radius: 4px;
        margin-top: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        width: 40%;
        z-index: 1;

        .sort-item,
        .status-filter-item {
          cursor: pointer;

          &.active {
            font-weight: bold;
          }
        }
      }

      .status-filter-list {
        list-style: none;
      }

      .filter-button,
      .sort-button {
        background-color: $white;
        border: 1px solid $silver;
        color: $black;
        border-radius: 4px;
        cursor: pointer;
        padding: 6px 12px;
        font-size: 14px;
        transition: background-color 0.5s;
        outline: none;
        text-wrap: nowrap;

        &:hover {
          background-color: $silver;
        }

        &.active {
          background-color: $orange;
          border: 1px solid $orange;
          color: #fff;
        }
      }
    }

    .hidden {
      display: none;
    }
  }
}
