<section class="adr-list">
  <!--pass the parameter dynamically without passing it in the shortcode call-->
  {{ $category := index .Page.Params.categories 0 }}
  {{ range where .Site.RegularPages "Type" "adrs" }}
    {{ if in .Params.categories $category }}
      <article class="adr-card">
        <section class="adr-meta">
          <span class="adr-status">{{ .Params.status }}</span>
        </section>
        <h2>{{ .Title }}</h2>
        <section class="adr-section">
          <p>{{ .Params.decision }}</p>
        </section>
        <section class="adr-meta">
          <span class="adr-date">
            <img src="/svg/calendar.svg" width="20px" alt="" />
            <span>{{ .Params.date }}</span>
          </span>
        </section>
      </article>
    {{ end }}
  {{ end }}
</section>
