{{/* Load and minify the adr.scss stylesheet */}}
{{ $adrCSS := resources.Get "adr.scss" | resources.ToCSS | resources.Minify | fingerprint }}
<link rel="stylesheet" href="{{ $adrCSS.Permalink }}" />

{{/* Retrieve all ADR pages from the "adr" section and sort them with latest showing on top */}}
{{ $adrPages := sort (where $.Site.RegularPages "Section" "adr") ".Params.date" "desc" }}
<section class="adr-list">
  {{/* Check if there are any ADR pages available */}}
  {{ if gt (len $adrPages) 0 }}
    {{/* Loop through each ADR page */}}
    {{ range $adrPages }}
      <a href="{{ .RelPermalink }}">
        <article class="adr-card">
          <section class="adr-meta">
            <span class="adr-status">{{ .Params.status }}</span>
          </section>
          <h2>{{ .Title }}</h2>
          <section class="adr-section">
            <p>{{ .Params.decision }}</p>
          </section>
          <section class="adr-meta">
            <span class="adr-date">
              <img src="/svg/calendar.svg" width="20px" alt="" />
              <span>{{ .Params.date.Format "2006-01-02" }}</span>
            </span>
          </section>
        </article>
      </a>
    {{ else }}
      {{/* Display a message if no ADR pages are found */}}
      <p>No ADR pages found.</p>
    {{ end }}
  {{ end }}
</section>
