name: Check builds for pull requests

on:
  pull_request:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: xt0rted/markdownlint-problem-matcher@v1
      - name: Install markdownlint-cli
        run: npm install -g markdownlint-cli
      - run: markdownlint content/**/*.md --ignore node_modules

  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.105.0
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_Linux-64bit.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build with Hugo
        run: |
          hugo --debug
